<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="サンプルアプリケーション">
        <title>Golang-TodoApp</title>
        <link rel="stylesheet" href="//localhost:8080/assets/style.css" />
    </head>
    <body>
        <h1>Todo List</h1>
        <form  method="POST" action="/new">
            <p>Let's add a task!</p>
            <input type="text" name="task" maxlength="20" placeholder="Click">
            <input type="submit" value="add">
        </form>

        <table>
            <tr> <th>タイトル</th> <th>優先度</th> <th>修正</th> <th>削除</th></tr>
            {{range .tasklist}}
            <tr>
                <td>{{ .Task }}</td>
                <td>none</td>
                <td><a href="/detail/{{.Id}}" class="btn btn--orange btn--cubic btn--shadow">編集</a></td>
                <td>
                    <form method="POST" action="/delete/{{ .Id }}">
                        <input type="submit" value="削除" class="button button--blue">
                    </form>
                </td>
            </tr>

            {{end}}
        </table>
    </body>
</html>