<!DOCTYPE html>
<html lang=ja>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="サンプルアプリケーション">
        <title>SampleApp</title>
        <link rel="stylesheet" href="//localhost:8080/assets/style.css">
    </head>
    <body>
        <h1>Hello, world!</h1>
        <form  method="POST" action="/new">
            <label>TODO</label><br>
            <input type="text" name="task" maxlength="20" placeholder="やることを書いてね">
            <input type="submit" value=" 登録する">
        </form>

        <ul>
            {{range .tasklist}}
            <p>{{.Id}}<b>{{.Task}}</b></p>
            {{end}}
            <!-- {{ range $i,$v := .tasklist }}
            <li>
            {{ $v }}
            </li>
            {{ end }} -->
        </ul>
        <!-- <ul>
            {{ range .tasklist }}
                <li>内容：{{ . }}</li>
            {{end}}
        </ul> -->
    </body>
</html>